.left {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    background-color: #7A9AED;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
}

h2 {
    font-weight: bold;
}

.signup-form {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.form-control {
    border-radius: 10px;
}

.signup-form .logo {
    width: 100px; 
    margin-bottom: 20px;
}

.label-name {
    color: white; 
    font-weight: bold; 
    margin-left: -320px;
}

.label-email {
    color: white; 
    font-weight: bold; 
    margin-left: -320px;
}

.label-password {
    color: white; 
    font-weight: bold; 
    margin-left: -290px;
}

.label-weight {
    color: white; 
    font-weight: bold; 
    margin-left: -90px;
}

.label-height {
    color: white; 
    font-weight: bold; 
    margin-left: -80px;
}

.btn-block {
    background-color: #fff;
    border-color: #fff; 
    border-radius: 17px; 
    padding: 7px; 
    font-size: 20px; 
    margin-top: 40px;
    color: #7A9AED;
    font-weight: bold;
    width: 250px !important;
    margin-left: 50px;
}